<br><br><br>
<center>

    <%= form_for @comment do |f| %>
     <div class="form-group">
      	<label>Commenter le potin</label>
      	 <%= f.text_area :content, class: 'form-control' %>
     </div>
    <% end %>

</center>